<footer class="center">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 footer-container">
            <div class="footer-each">
                <h5><a href="https://www.linkedin.com/in/hallta/" target="_blank" rel="noopener noreferrer"
                        alt="LinkedIn"><span>LinkedIn</span></a></h5>
                <h5><a href="https://github.com/hallta" target="_blank" rel="noopener noreferrer"
                        alt="Github"><span>Github</span></a></h5>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</footer>