<footer class="center">
    <div class="footer-container">
      <div class="footer-each">
        <h5>
          <a href="https://goo.gl/maps/1BsuWuQPatTy5drE8" target="_blank" rel="noopener noreferrer">
            <span>Flatiron</span><br><span>New York City</span><br><span>USA</span></span>
          </a>
        </h5>
      </div>
      <div class="footer-each">
        <h5><a href="https://www.linkedin.com/in/hallta/" target="_blank" rel="noopener noreferrer" alt="LinkedIn"><span>LinkedIn</span></a></h5>
        <h5><a href="https://github.com/hallta" target="_blank" rel="noopener noreferrer" alt="Github"><span>Github</span></a></h5>
      </div>
    </div>
  </footer>