<footer class="center">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 footer-container">
            <div class="footer-each">
                <a href="https://www.linkedin.com/in/hallta/" target="_blank" rel="noopener noreferrer"
                    alt="LinkedIn"><span>LinkedIn</span></a>
                     | 
                <a href="https://github.com/hallta" target="_blank" rel="noopener noreferrer" alt="Github"><span>Github</span></a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</footer>